---
layout: default
---

{{ content | markdownify }}

<ul>
	{% for post in paginator.posts %}
		<li>
			<a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a> ({{ post.categories | join: ', ' }})
		</li>
	{% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
	<ul>
		<li>
			{% if paginator.previous_page %}
				<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
			{% else %}
				<span>&larr; Newer Posts</span>
			{% endif %}
		</li>

		<li>
			{% if paginator.next_page %}
				<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
			{% else %}
				<span>Older Posts &rarr;</span>
			{% endif %}
		</li>
	</ul>
{% endif %}

<p>Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
